<!DOCTYPE html>
<!-- The 'thymeleaf' support -->
<html xmlns:th = "https://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title> Home Page </title>
</head>
<body>
<h1> Customer Product Management System </h1>
<!-- To Show The User's Name Whilst The Session Runs -->
<hr>
<h3 th:text = "'Welcome '+${session.customer.name}+'!'"></h3>
<hr>
<!-- A Link To List All Products -->
<!-- The PAGE Mapper Name -->
<a href = "./listAllProductsPage"> View All Products </a><br><br>
<!-- A Link To Search Products By Their ID -->
<!-- The PAGE Mapper Name -->
<a href = "./buyProductsByIdPage"> Buy A Product By ID </a><br><br>
</body>
</html>