<!DOCTYPE html>
<html xmlns:th = "https://thymeleaf.org">
<head>
<meta charset = "UTF-8">
<title> List All Customers </title>
</head>
<body>
<h1> Customer Management System </h1>
<hr> <!-- Horizontal Row -->
<h3> List of Products </h3>
<table border = "1">
	<!-- tr: Table Row -->
	<tr>
		<!-- Table Header -->
		<th> Product ID </th>
		<th> Product Name </th>
		<th> Price </th>
		<th> Stock </th>
		
	</tr>
	<tr th:each = "product : ${products}">
	<!-- table data -->
		<td th:text = "${product.productId}"></td>
		<td th:text = "${product.productName}"></td>
		<td th:text = "${product.pricePerUnit}"></td>
		<td th:text = "${product.stockAmount}"></td>
	</tr>
</table>
<br><br>
<!-- The Homepage Link -->
<a href = "./homepage"> Return To Homepage </a>
</body>
</html>