<!DOCTYPE html>
<html>
<head>
<meta charset = "UTF-8">
<title> Add New Employee Record </title>
</head>
<body>
<h1> Please Enter Employee Details </h1>
<!-- To accept input from the user -->
<!-- The Method Mapper Name -->
<form action = "./addNewEmployee">
Enter Employee ID: <input type = "text" name = "id">
<br><br>
Enter Employee Department ID: <input type = "text" name = "deptId">
<br><br>
Enter Employee Department Name: <input type = "text" name = "deptN">
<br><br>
Enter Employee Commission Amount: <input type = "text" name = "com">
<br><br>
Enter Employee Email: <input type = "text" name = "email">
<br><br>
Enter Employee First Name: <input type = "text" name = "fName">
<br><br>
Enter Employee Last Name: <input type = "text" name = "lName">
<br><br>
Enter Employee Phone Number: <input type = "text" name = "num">
<br><br>
Enter Employee Salary Amount: <input type = "text" name = "sal">
<br><br>
Enter Employee Hire Date: <input type = "date" name = "hire">
<br><br>
Enter Employee Job ID: <input type = "text" name = "jobId">
<br><br>
Enter Employee Manager ID: <input type = "text" name = "manId">
<br><br>
Enter Employee Role: <input type = "text" name = "role">
<br><br>
<input type = "submit" value = "Add New Employee">
</form>
<br><br>
<!-- The Homepage Link -->
<a href = "./"> Return To Homepage </a>
</body>
</html>