<!DOCTYPE html>
<html>
<head>
<meta charset = "ISO-8859-1">
<title>Increment Salary</title>
</head>
<body>
<!-- To accept input from the user -->
<!-- The Method Mapper Name -->
<form action = "./incrementSalary">
	Enter Employee ID: <input type = "text" name = "empId"><br><br>
	Enter Increment Amount: <input type = "text" name = "increment"><br><br>
	<input type = "submit" value = "Increment Salary">
</form>
<br><br>
<!-- The Homepage Link -->
<a href = "./"> Return To Homepage </a>
</body>
</html>