<!DOCTYPE html>
<html>
<head>
<meta charset = "UTF-8">
<title> Employee Management System </title>
</head>
<body>
<!-- The First Heading -->
<h1> Homepage </h1>
<!-- A Link To List All EMployees -->
<a href = "./listAllPage" > List All Employees </a>
<br><br>
<!-- A Link To Search Employees By ID -->
<!-- The Page Mapper Name -->
<a href = "./searchEmpByIdPage" > Search Employee By ID </a>
<br><br>
<!-- A Link To Add A New Employee -->
<!-- The Page Mapper Name -->
<a href = "./addNewEmpPage" > Add New Employee </a>
<br><br>
<!-- A Link To Delete An Employee -->
<!-- The Page Mapper Name -->
<a href = "./deleteEmpPage"> Delete Employee </a>
<br><br>
<!-- A Link To Increment An Employee's Salary -->
<!-- The Page Mapper Name -->
<a href = "./incSalPage"> Increment Salary </a>
<br><br>
<!-- A Link To Generate An Employee's Payslip -->
<!-- The Page Mapper Name -->
<a href = "./genPayPage"> Generate Payslip </a>
<br><br>
<!-- A Link To Search For An  Employee By Their Department -->
<!-- The Page Mapper Name -->
<a href = "./searchEmpByDeptPage"> Search Employee By Department </a>
<br><br>
<!-- A Link To Search For An Employee By Their Role -->
<!-- The Page Maper Name -->
<a href = "./searchEmpByRolePage"> Search Employee By Role </a>
<br><br>
</body>
</html>