<!DOCTYPE html>
<html>
<head>
<meta charset = "ISO-8859-1">
<title>Increment Salary</title>
</head>
<body>
<h1> Customer Management System </h1>
<!-- To accept input from the user -->
<!-- The Method Mapper Name -->
<form action = "./incrementBalance">
	Enter The Recipient's Account ID: <input type = "text" name = "rAccountId"><br><br>
	Enter The Amount To Transfer: <input type = "text" name = "amount"><br><br>
	<input type = "Submit" value = "Complete Bank Transfer">
</form>
<br><br>
<!-- The Homepage Link -->
<a href = "./homepage"> Return To Homepage </a>
</body>
</html>