<!DOCTYPE html>
<html xmlns:th = "https://thymeleaf.org">
<head>
<meta charset = "UTF-8">
<title> List All Customers </title>
</head>
<body>
<h1> Customer Management System </h1>
<hr> <!-- Horizontal Row -->
<h3> List of Customers </h3>
<table border = "1">
	<!-- tr: Table Row -->
	<tr>
		<!-- Table Header -->
		<th> Account ID </th>
		<th> Customer Name </th>
		<th> Customer Address </th>
		<th> Customer Phone Number </th>
		<th> Customer Bank Balance </th>
	</tr>
	<tr th:each = "customer : ${customers}">
	<!-- table data -->
		<td th:text = "${customer.accountId}"></td>
		<td th:text = "${customer.custName}"></td>
		<td th:text = "${customer.custAddress}"></td>
		<td th:text = "${customer.custNumber}"></td>
		<td th:text = "${customer.bankBalance}"></td>
	</tr>
</table>
<br><br>
<!-- The Homepage Link -->
<a href = "./homepage"> Return To Homepage </a>
</body>
</html>